body{
    background: url(bg1.jpg);
}
table{
    background: #fff;
    width: 700px;
    text-align: center;
    position: relative;
    margin:auto;
}

table, th, td{
    border: 1px solid #000;
}

th, td{
    padding: 10px;
    word-spacing: 1;
}

tr{
    font-family: times new roman;
}

th{
    font-family: arial;
    font-weight: bold;
}